.CartInner {
  width: 95%;
  padding: 0.6rem;
  margin: 2rem auto;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: whitesmoke;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .CartInner {
    width: 80%;
    padding: 5rem;
    margin: 4rem auto;
  }
  

}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}