.NavList {
  display: none;
}

@media (min-width: 576px) {
 
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .NavList {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        height: 100%;
    }
    
}

@media (min-width: 1200px) {
 
}

@media (min-width: 1400px) {

}