.ModalOverlay {
  background-color: white;
  max-width: 50vw;
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%, 0);
  z-index: 100;
  border-radius: 20px;
  box-shadow: 0 0 5px gray;
  padding: 5rem;
  animation: slide-down 0.5s ease-in;
}

.ModalContent {
  height: 100%;
  overflow: auto;
}

@keyframes slide-down {
  from {
    top: 5vh;
  }
  to {
    top: 10vh;
  }
}
