
.CartItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
    height: 250px;
    width: 100%;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
}

.Image {
   height: 40%;
   width: 50%;
}

.Image img {
   height: 100%;
   width: 100%;
   border-radius: 5px;
}

.CartItemActions {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ItemDesc {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.Description {
  color: gray;
  font-size: 0.7rem;
}

.QuantityTag {
  font-size: 0.7rem;
}

.Quantity {
    margin-left: 10px;
    padding: 5px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 600;
    /* background-color: whitesmoke; */
}



@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {

  .CartItem {
    padding: 1.5rem;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
}

.Image {
   height: 100%;
   width: 30%;
}

.CartItemActions {
    width: 20%;
}

.ItemDesc {
  width: 40%;
}

.Description {
  color: gray;
}


}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}